<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
</head>
<body>
    <h1> UPLOAD YOUR FILES HERE !!</h1>
    <form method="POST" action = "/upload" enctype="multipart/form-data">
        <input type = file name = "profileImage"/>
        <button type = "submit"> UPLOAD </button>
    </form>
</body>
</html>